HTML{
    background : url(../img/merelgeanna.png) no-repeat right top, 
                 url(../img/bgrepeat.jpg);
    min-height : 100%;
    font-family : Arial;
    min-width : 1050px;
}

H1{
    font-size : 30px;
    margin : 0;
}

#lefttop{
    width : 850px;
    height : 649px;
    background : url(../img/lefttop.png);
    position : absolute;
    left : -744px;
    margin-left : 50%;
    top : 0;
    z-index : -1;
}

#rightbottom{
    background : url(../img/rightbottom.png) no-repeat right bottom;
    width : 269px;
    height : 360px;
    position : fixed;
    right : 0;
    bottom : 0;
    z-index : -1;
}

#container{
    position : absolute;
    right : 15%;
    top : 138px;
    padding : 0 0 109px 0;
    width : 730px;
}

#page{
    width : 650px;
    background : rgba(255,255,255,.88);
    box-shadow : 0px 0px 40px 0px rgba(0,0,0,0.6);
    border-radius : 20px;
    padding : 40px;
    line-height : 30px;
    font-size : 16px;
}

#page p{
    margin : 30px 0 30px 0;
}

.nav, .nav a{
    font-size : 13px;
    letter-spacing : 1px;
    color : #f1f1f1;
}

.nav a{
    margin : 0 20px 0 20px;
    text-decoration : none;
    font-weight : normal;
}

.nav a:hover{
    color : yellow;
}

#topnav{
    position : absolute;
    top : 8px;
    width : 700px;
    right : 15%;
    text-align : center;
    margin : 0;
}

#bottomnav{
    width : 730px;
    text-align : center;
    position : absolute;
    bottom : 44px;
    height : 20px;
    margin : 0;
    padding : 0;
}

#bottomnav.nav a, #bottomnav.nav{
    font-size : 16px;
}